.landing-welcome-h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(240, 238, 238,);
}

.welcome-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#welcome-1 {
  animation: fadeIn 2.5s linear;
}

#welcome-2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.btn {
  opacity: 0;
  width: 15vw;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(205, 174, 2);
  border: 5px solid;
  border-color: rgb(205, 174, 2);
  border-radius: 30px;
  cursor: pointer;
  animation-name: pulse;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  &:hover {
    opacity: 1;
    animation: none;
    font-size: 45px;
    color: rgb(242, 212, 46);
    border-color: rgb(242, 212, 46);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: .2
  }

  to {
    opacity: 1
  }
}