.home-h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 40px;
  text-align: justify;
  color: rgb(240, 238, 238,);
}

.paw-logo {
  margin-left: -30px;
  width: 3vw;
  height: 3vh;
}

.form-results-section{
  display: flex;
  background-color: #957FEF;
}